<div class="purchase-button" ng-click="purchase()" ng-if="achieved()" ng-class="{inactive: !ableToPurchase(), selected: selectedHexaForPurchase == hexa}">
    <div ng-if="hexa.type == 1">
        <div class="color-box" ng-style="{'background-color': hexa.color}">{{ name }}</div>

        <div class="stat">
            <i class="fa fa-crosshairs"></i> {{ hexa.baseDps | prettify }} / s
        </div>
        <div class="stat"><i class="fa fa-dollar"></i> {{ hexa.price | prettify }}</div>
        <div class="stat">
            <i class="fa fa-angle-double-up"></i> {{ hexa.upgrade | prettify }}
        </div>
    </div>
    <div ng-if="hexa.type == 2">
        <div class="color-box" ng-style="{'background-color': hexa.color}">{{ name }}</div>
        <div class="stat">
            <i class="fa fa-angle-double-up"></i> {{ hexa.description }}
        </div>
    </div>
</div>