<div class="selection-box" ng-if="selectedSlot.hexaEntity" style="color: white">
    <div class="sell-button" ng-click="sell()" ng-class="{ 'inactive-sell': selectedSlot.hexaEntity.cooldown > 0 }">Sell {{ selectedSlot.hexaEntity.sellPrice() | prettify }}</div>
    <!-- DPS -->
    <div ng-if="selectedSlot.hexaEntity.hexa.type == 1">
        <div class="color-box" ng-style="{'background-color': selectedSlot.hexaEntity.hexa.color}">
            {{ selectedSlot.hexaEntity.level }}
        </div>
        <div class="selection-label">Current DPS: {{ dps() | prettify }}</div>
        <div class="selection-label">Next lvl DPS: {{ nextDps() | prettify }}</div>
        <button class="selection-label" ng-click="upgrade()" ng-disabled="!canUpgrade()">Upgrade {{ selectedSlot.hexaEntity.calcUpgrade() | prettify }}</button>
    </div>

    <!-- UTILITY -->
    <div ng-if="selectedSlot.hexaEntity.hexa.type == 2">
        <div class="color-box" ng-style="{'background-color': selectedSlot.hexaEntity.hexa.color}">
            {{ selectedSlot.hexaEntity.level }}
        </div>
        <button class="selection-label" ng-if="selectedSlot.hexaEntity.hexa.active" ng-click="activate()" ng-disabled="selectedSlot.hexaEntity.cooldown > 0">
            <span ng-if="selectedSlot.hexaEntity.cooldown == 0">Activate</span>
            <span ng-if="selectedSlot.hexaEntity.cooldown > 0">Cooldown {{ selectedSlot.hexaEntity.cooldown }}</span>
        </button>
        <div class="selection-label">{{ selectedSlot.hexaEntity.hexa.description }}</div>
    </div>

</div>